---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.5 $helvetica;
  color: $darkGray;
}

.container {	
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  width: 95%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $playfair;
  color: $black;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 28px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

p {
  margin: 15px 0;
}

a {
  color: $darkGray;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $darkGray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $black;
  cursor: pointer;
  font-family: $playfair;
  font-size: 48px;

	 a {
    text-decoration: none;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  letter-spacing: 1px;


  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: left;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-decoration: none;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $darkGray;
    }
  }
}

//
// .main
//

//
// Homepage two-column layout
//

.homepage-layout {
  display: flex;
  gap: 40px;

  @include mobile {
    flex-direction: column;
  }
}

.homepage-main {
  flex: 0 0 70%;
  min-width: 0;

  @include mobile {
    flex: 1 1 100%;
  }
}

.homepage-sidebar {
  flex: 0 0 calc(30% - 40px);
  min-width: 0;

  @include mobile {
    flex: 1 1 100%;
  }

  p {
    margin: 0;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $darkGray;
    font-family: $playfair;
    font-size: 24px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 16px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  background-color: $lightGray;
  color: $black;
}

footer {
  padding: 20px 0;
  text-align: left;
}

.footer p {
	  font-size: 16px;
}

.footer a {
    padding-right: 20px;
    font-size: 16px;
    color: black;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.footer-column {
   padding: 20px;
}

/* Set column widths */
.footer-column-1 {
   width: 50%;
}

.footer-column-2, .footer-column-3 {
   width: 25%;
}

/* Responsive design: Stack columns on smaller screens */
@media (max-width: 768px) {
   .footer {
      flex-direction: column;
   }
   .footer-column-1, .footer-column-2, .footer-column-3 {
      width: 100%;
   }
}


//
// Hand-drawn highlight effect
//

/* The highlighted span */
.hl {
  position: relative;
  display: inline;
  padding: 0.02em 0.12em;
  z-index: 0;

  /* important for multi-line highlight continuity */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* The "stroke" behind the text */
.hl::before {
  content: "";
  position: absolute;
  z-index: -1;

  /* extend a bit beyond the text */
  left: -0.08em;
  right: -0.10em;

  /* place behind the lower half of the letters */
  top: 60%;
  bottom: 0.06em;

  /* shape */
  border-radius: 0.28em 0.22em 0.26em 0.18em;

  /* hand-drawn feel */
  transform: rotate(-1.1deg);

  /* Highlighter colour + organic texture */
  background:
    /* main fill */
    linear-gradient(180deg,
      rgba(255, 239, 120, 0.15) 0%,
      rgba(255, 239, 120, 0.85) 30%,
      rgba(255, 239, 120, 0.78) 100%
    ),
    /* subtle streaking: makes it look like a marker pass */
    repeating-linear-gradient(90deg,
      rgba(255, 239, 120, 0.00) 0px,
      rgba(255, 239, 120, 0.00) 6px,
      rgba(255, 255, 255, 0.18) 7px,
      rgba(255, 255, 255, 0.00) 10px
    ),
    /* uneven top/bottom edge "bleed" */
    radial-gradient(14px 10px at 8% 55%,
      rgba(255, 255, 255, 0.28) 0%,
      rgba(255, 255, 255, 0.00) 70%
    ),
    radial-gradient(18px 12px at 92% 45%,
      rgba(255, 255, 255, 0.22) 0%,
      rgba(255, 255, 255, 0.00) 70%
    );

  /* blend feels more like pigment on paper */
  mix-blend-mode: multiply;
  opacity: 0.95;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
