{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fa-regular fa-envelope fa-large"></i></a>{% endif %} &nbsp;
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fa-brands fa-linkedin-in fa-large"></i></a>{% endif %} &nbsp;
{% if site.footer-links.threads %}<a href="https://www.threads.net/@{{ site.footer-links.threads }}"><i class="fa-brands fa-threads fa-large"></i></a>{% endif %} &nbsp;
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa-solid fa-rss fa-large"></i></a>{% endif %}
