---
layout: default
title: "2024"
---

<div class="homepage-layout">
  <div class="homepage-main">
    <h1>2024</h1>

    <div class="posts">

  {% assign year_posts = site.posts | where_exp: "post", "post.date | date: '%Y' == '2024'" %}
  {% for post in year_posts %}
         <article class="post">

          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="entry">
            {{ post.excerpt }}
          </div>

          {{ post.date | date_to_long_string }} | <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
  {% endfor %}

    </div>
  </div>

  {% include sidebar.html %}
</div>
