---
layout: default
title: Publishing
---

<div class="homepage-layout">
  <div class="homepage-main">
    <h1>Publishing</h1>

    <div class="posts">

  {% for post in site.tags["Publishing"] %}
         <article class="post">

          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="entry">
            {{ post.excerpt }}
          </div>

          {{ post.date | date_to_long_string }} | <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
  {% endfor %}

    </div>
  </div>

  <aside class="homepage-sidebar">
    <h4>Tags</h4>
    {% assign defined_tags = "Artificial Intelligence,Journalism,Presentations,Publishing,Reflections,Research,Strategy" | split: "," %}
    {% for tag_name in defined_tags %}
      {% assign tag_posts = site.tags[tag_name] %}
      {% if tag_posts %}
        <p><a href="{{ site.baseurl }}/tags/{{ tag_name | slugify }}">{{ tag_name }} ({{ tag_posts.size }})</a></p>
      {% else %}
        <p><a href="{{ site.baseurl }}/tags/{{ tag_name | slugify }}">{{ tag_name }} (0)</a></p>
      {% endif %}
    {% endfor %}
  </aside>
</div>
